<footer class="footer">
    <div class="container footer-container">
        <div class="nav-container">
            <a href="./index.html" class="logo-link" aria-label="Bookshelf">
                <svg class="icon-logo" width="109" height="28">
                    <use href="./img/icons.svg#icon-logo-bookshelf"></use>
                </svg>
            </a>
            <form class="form">
                <label for="email" class="email-label">
                    <input type="email" class="email-input" name="email" id="email" placeholder="Enter your email" />
                    <button class="input-button" type="submit" id="input-button">Subscribe </button>
                </label>
            </form>
        </div>
        <div class="text-container">
            <p class="footer_text">
                &#169; 2024 | All Rights Reserved | Developed G7 + 2
            </p>
        </div>
    </div>
    <script type="module" src="./js/footer.js"></script>
</footer>