<section class="homepage" id="homepage">
  <div class="container navigation-category">
    <aside class="aside-menu">
      <ul class="category-list">
        <li class="category-list-item">
          <h3 class="category-name"></h3>
          <h4 class="category-name" id="all-categories">All categories</h4>
        </li>
      </ul>
      <div class="support"></div>
    </aside>

    <div class="gallery">
      <h2 class="category-title"></h2>
      <ul class="gallery-list"></ul>
    </div>
  </div>
</section>
