<div class="backdrop">
  <div class="modal">
    <button class="close-modal">
      <svg class="modal-svg-close" width="24" height="24">
        <use href="../img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <img src="" alt="зображення обгортки книги" class="img-modal" />

    <div class="tittle-books">
      <h2 class="boock-name">BOOCK-NAME</h2>
      <p class="author">Author-Author</p>
    </div>

    <p class="about-book">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nulla
      distinctio quia dolores eius suscipit repudiandae!
    </p>

    <ul class="sale-place">
      <li>
        <a href=""
          ><svg width="69" height="31">
            <use href="../img/icons.svg#amazon"></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg width="33" height="32">
            <use href="../img/icons.svg#apple-books"></use></svg
        ></a>
      </li>
    </ul>

    <button class="add-lokalstorage" type="button">add to shopping list</button>
  </div>
</div>
